@keyframes displayCart {
  0% {
    right: -60rem;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

.confirmation-box {
  animation: displayCart 500ms;
  opacity: 1;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100%;
  margin-bottom: 2rem;

  .confirmation-container {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      right: 0.75rem;
      top: -0.9375rem;
      width: 0;
      height: 0;
      border-left: 0.9375rem solid transparent;
      border-right: 0.9375rem solid transparent;
      border-bottom: 0.9375rem solid $Airbean_white;
      z-index: 2;
    }
    padding-bottom: 2rem;
    min-height: 100%;

    background: #fff;
    max-width: 90%;
    margin: 5rem auto;

    .order-title {
      font-family: $ptserif;
      font-weight: 700;
      padding-top: 5rem;
      text-align: center;
      font-size: 2rem;
    }
    .order-container {
      padding: 1rem;
      display: flex;
      flex-direction: column;

      .total-sum-of-price-container {
        display: flex;
        width: 100%;
        .total-sum-text {
          font-size: 1.5rem;
          text-transform: capitalize;
        }
        .total-sum-underline {
          align-self: flex-end;
          margin: 0.1875rem 0.3125rem;
        }
        .total-sum-of-price {
          font-size: 1.4375rem;
          align-self: center;
          width: 100%;
          text-align: right;
        }
      }
      .sale-tax {
        font-weight: 400;
        font-family: $worksans;
        font-size: 0.8rem;
        padding: 0.3125rem;
      }

      .order-list {
        display: flex;
        flex-direction: column;
        .order-list-item {
          padding: 1rem 0;
          .total-price-from-title {
            display: flex;
            justify-content: flex-start;
            margin-top: -1.25rem;
            > .total-price {
              text-transform: capitalize;
            }
          }
          .order-item-container {
            position: relative;
            min-height: 1.875rem;
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 0.5rem 0;

            .item-title {
              font-weight: 700;
              width: 100%;
              font-size: 1.4375rem;
              margin: 0.4125rem 0;
              position: absolute;
              z-index: 2;
              top: 0.125rem;
            }

            .arrow-amount-container {
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
          }
        }
      }
    }
  }
  &.adapt {
    background: rgba(0, 0, 0, 0.7);
  }
  &.non-adapt {
    background: rgba(0, 0, 0, 0.5);
  }
}
